<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :autofocus => true %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", rows: 12 %>
  </p>
    <%= f.label :submit %>
    <%= f.submit %>
<% end %>